#nav-background{
    background-color:#000;
    margin-bottom: 30px;
}

.nav{
    width: 60%;
    height: 60px;
    margin: auto;
    color:#fff;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.profile{
    margin-right: 20px;
    letter-spacing: .03em;
}

.nav h1.profile{
    font-weight: 400;
    display: inline-block;
}

#signout{
    padding: 5px 15px;
    background-color: hsl(188.2, 77.8%, 40.6%);
    color:#fff;
    border: none;
}

.nav ul{
    display:flex;
    padding: 0;
}

.nav ul li{
    list-style-type: none;
    color:#fff;
    margin: 10px;
}

ul.nav-links a{
    color: white;
    text-decoration: none;
}

ul.nav-links li a{
    opacity: .60;
}

ul.nav-links li a.active {
    opacity: 1;
}

#navleft{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}